.kablammo-style {
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}

.roboto-style {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1{
    text-align: center;
}

div{
    
    width: 10px;
    height: 10px;
}

.canvas{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    border: 2px solid black;
    height: 3em;
    width: 100%;
}

.headerLinks{
    display: flex;
    width: auto;
}

#pixel{
    box-sizing: border-box;
    border: 1px solid black;
}

.gridContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 160px;
    width: 160px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}